<div class="section section-understated collapsed" style="background-color: #161616">
    <div class="service-group clearfix" id="featuredServicesListingText">
        <!-- BEGIN TILES -->
        <div id="featured-service-tab-1" class="service-tile" tabindex="0" data-tile-id="panel-1" style="background-color: #161616; background-size: cover;">
            @Html.Partial("~/Views/Shared/ImmigrantGuide/_Spinner.cshtml")
        </div>
        <div id="featured-service-tab-2" class="service-tile" tabindex="0" data-tile-id="panel-2" style="background-color: #161616; background-size: cover;">
            @Html.Partial("~/Views/Shared/ImmigrantGuide/_Spinner.cshtml")
        </div>
        <div id="featured-service-tab-3" class="service-tile" tabindex="0" data-tile-id="panel-3" style="background-color: #161616; background-size: cover;">
            @Html.Partial("~/Views/Shared/ImmigrantGuide/_Spinner.cshtml")
        </div>
        <div id="featured-service-tab-4" class="service-tile" tabindex="0" data-tile-id="panel-4" style="background-color: #161616; background-size: cover;">
            @Html.Partial("~/Views/Shared/ImmigrantGuide/_Spinner.cshtml")
        </div>
        <!-- END TILES -->
        <!-- BEGIN PANELS -->
        <div id="featured-service-panel-1" class="service-tile-panel" data-tile-id="panel-1">
        </div>
        <div id="featured-service-panel-2" class="service-tile-panel" data-tile-id="panel-2">
        </div>
        <div id="featured-service-panel-3" class="service-tile-panel" data-tile-id="panel-3">
        </div>
        <div id="featured-service-panel-4" class="service-tile-panel" data-tile-id="panel-4">
        </div>
        <!-- END PANELS -->
    </div>

    <script>
        
        processJsonData.showHomePageServices('servicesFilteredListingText', '', 'Immigration', 'featured-home', 's', constantEntityProfileLangCode);

    </script>


    <div class="more-button">
        <div class="more-content fake-service-group"></div>
        <a href="@Url.Action("Services", "Home")" class="btn-more inverse"><span class="ca-gov-icon-plus-fill more-icon" aria-hidden="true"></span><span class="more-title">@Immigration_Website.Content.Texts.ContentHome.ContentHome.blackBar_MoreServices</span></a>
    </div>
</div>