
<header role="banner" id="header" class="global-header fixed">
    <div id="skip-to-content"><a href="#main-content">Skip to Main Content</a></div>
    @Html.Partial("~/Views/Shared/HeaderParts/_UtilityHeader.cshtml")
    @Html.Partial("~/Views/Shared/HeaderParts/_LanguageBar.cshtml")
    @Html.Partial("~/Views/Shared/HeaderParts/_SettingsBar.cshtml")
    @Html.Partial("~/Views/Shared/HeaderParts/_Branding.cshtml")
    @Html.Partial("~/Views/Shared/HeaderParts/_MobileControls.cshtml")

    <div class="navigation-search">
        @Html.Partial("~/Views/Shared/HeaderParts/_SearchSection.cshtml")
        @Html.Partial("~/Views/Shared/HeaderParts/_Navigation.cshtml")
        <span id="apimessage"></span>
    </div>


    <div class="header-decoration"></div>

</header>
