@{
    ViewBag.BrowserTitle = Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_LegalHelpAndCitizenship;
}
@{
    ViewBag.PageTitle = Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_LegalHelpAndCitizenship;
}
<script type="text/javascript">
    var defaultActiveLink = "Immigration Services & Citizenship";
</script>

<div class="section">
    <div class="container">

        <img src="~/Content/images/citizenship.jpg" style="float: left; padding: 0px 20px 15px 0px; width: 350px;" alt="Introduction Image" />
        @Html.Raw(Immigration_Website.Content.Texts.LegalHelpAndCitizenship.Content.pageIntroText)
    </div>
    </div>
    <div class="section section-default">
        <div class="container">
            <h2 id="servicesSubset2">@Html.Raw(Immigration_Website.Content.Texts.LegalHelpAndCitizenship.Content.pageFirstServicesSectionHeader)</h2>
            <script>var secondServicesSubset = "Legal Help" </script>
            @Html.Partial("~/Views/Shared/ImmigrantGuide/_SubsetOfServices2.cshtml")

        </div>
    </div>

    <div class="section section-default">
        <div class="container">
            <h2 id="servicesSubset">@Html.Raw(Immigration_Website.Content.Texts.LegalHelpAndCitizenship.Content.pageSecondServicesSectionHeader)</h2>
            <script>var servicesSubset = "Citizenship" </script>
            @Html.Partial("~/Views/Shared/ImmigrantGuide/_SubsetOfServices.cshtml")
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2>@Html.Raw(Immigration_Website.Content.Texts.LegalHelpAndCitizenship.Content.pageAdditionalResoucesHeader)</h2>
            @Html.Raw(Immigration_Website.Content.Texts.LegalHelpAndCitizenship.Content.pageAdditionalResoucesLinks)
        </div>
    </div>



<div class="section section-understated">
    <div class="container">
        <h2 id="agenciesSubset">@Html.Raw(Immigration_Website.Content.Texts.LegalHelpAndCitizenship.Content.pageFirstAgenciesSectionHeader)</h2>
        @Html.Partial("~/Views/Shared/ImmigrantGuide/_SubsetOfAgencies.cshtml")
    </div>
</div>