

<nav id="navigation" class="main-navigation megadropdown auto-highlight">
    <ul id="nav_list" class="top-level-nav">
@*    <li class="home-link nav-item">
            <a href="@Url.Action("Index", "Home")" class="first-level-link"><span id="nav_home_container" title="@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_Home" class="ca-gov-icon-home" aria-hidden="true"></span>@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_Home</a>
        </li>
        *@
        <!-- LEFT ALIGNED IMAGE -->
        <li class="nav-item">
            <a href="@Url.Action("Index", "PublicBenefits")" title="@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_PublicBenefits"  class="first-level-link"><span class="ca-gov-icon-read-book" aria-hidden="true"></span>@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_PublicBenefits</a>
        </li>

        <li class="nav-item">
            <a href="@Url.Action("Index", "FindJobsAndTraining")" title="@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_JobsAndEntrepreneurship" class="first-level-link"><span class="ca-gov-icon-idea" aria-hidden="true"></span>@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_JobsAndEntrepreneurship</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index", "Education")" title="@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_Education" class="first-level-link"><span class="ca-gov-icon-graduate" aria-hidden="true"></span>@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_Education</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index", "LegalHelpAndCitizenship")"  title="@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_ImmigrationServicesAndCitizenship" class="first-level-link"><span class="ca-gov-icon-capitol" aria-hidden="true"></span>@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_ImmigrationServicesAndCitizenship</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index", "Search")?googleid=001779225245372747843%3A8cyk3d-ufgk&q=Immigrant%20Guide" class="first-level-link"><span class="ca-gov-icon-search" title="@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_Search" aria-hidden="true"></span>@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_Search</a>
        </li>
    </ul>
</nav>