    <!-- Include Utility Header -->
<div class="utility-header">
    <div class="container">
        <div class="group">
            <div class="quarter">
                <div class="social-media-links">
                    <div class="header-cagov-logo"><a href="https://ca.gov"><span class="sr-only">CA.gov</span><img src="~/Content/images/Ca-Gov-Logo-Gold.svg" class="pos-rel" alt="" aria-hidden="true"></a>
                        <a href="/"><span id="home_container" title="@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_Home" class="ca-gov-icon-home" aria-hidden="true"></span><span class="sr-only">@Immigration_Website.Content.Texts.MultiPage.MultiPage.nav_Home</span></a>
                    </div>
                    
                    
                </div>
            </div>
            <div class="three-quarters settings-links">
                <ul class="utility-links ">
                    <li><a href="@Url.Action("Agencies", "Home")">@Immigration_Website.Content.Texts.MultiPage.MultiPage.header_StateAgencies@*Immigrant Guide State Agencies*@</a></li>
                    <li><a href="@Url.Action("Services", "Home")">@Immigration_Website.Content.Texts.MultiPage.MultiPage.header_AdditionalServices @*Immigrant Guide Services*@</a></li>

                    <li>
                        <a href="@Url.Action("Translate", "Home")"><span class="ca-gov-icon-globe" aria-hidden="true"></span> &nbsp;Translate</a><span id="currentLang"></span></li>


    @*
        <li><button class="btn btn-xs btn-primary collapsed" data-toggle="collapse" data-target="#languageSettings" aria-expanded="false" aria-controls="languageSettings" id="ui-collapse-languageSettings" style="border-color: #275A34;"><span class="ca-gov-icon-globe" aria-hidden="true"></span> &nbsp;@Immigration_Website.Content.Texts.MultiPage.MultiPage.header_Language <span id="currentLang"></span></button>
    *@

</ul>
            </div>
        </div>
    </div>
</div>