
<div id="agencyFilteredListingText">
    @Html.Partial("~/Views/Shared/ImmigrantGuide/_Spinner.cshtml")
</div>

<script>
    function toggleCollapseSwapper(thisid) {
        var x = document.getElementById(thisid).getAttribute("class");

        if (x == "ca-gov-icon-plus-fill") {
            document.getElementById(thisid).className = "ca-gov-icon-minus-fill";
        }
        else {
            document.getElementById(thisid).className = "ca-gov-icon-plus-fill";
        }
    }

    var imageUrlPrefix = "http://stateentityprofile.ca.gov/Uploads";

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            myObj = JSON.parse(this.responseText);

            var textToDisplay = "";
            var textToDisplayOdd = "";
            var holderDescription = "";
            var holderDescription2 = "";
            var arrayLength = myObj.length;

            for (var i = 0; i < arrayLength; i++) {


                if (constantShowFullCard == "true") {

                    holderDescription = myObj[i].Description;
                    holderDescription = holderDescription.slice(0, 95) + "...";

                    textToDisplay = textToDisplay + "<div class=\"card card-default\">";
                    textToDisplay = textToDisplay + "<div class=\"card-block\" id=\"collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\" itemscope itemtype=\"http://schema.org/Organization\">";
                    textToDisplay = textToDisplay + "<div class=\"row\">";
                    textToDisplay = textToDisplay + "<div class=\"col-md-3 col-xs-4\">";
                    textToDisplay = textToDisplay + "<img class=\"img-responsive\" src=\"" + imageUrlPrefix + "/";
                    if (myObj[i].LogoUrl) {
                        textToDisplay = textToDisplay + myObj[i].LogoUrl;
                    }
                    else {
                        textToDisplay = textToDisplay + "logo-CAGeneral.png"
                    }
                    textToDisplay = textToDisplay + "\" alt=\"Logo for " + myObj[i].FriendlyName + "\">";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "<div class=\"col-md-9 col-xs-8\">";
                    textToDisplay = textToDisplay + "<a href=\"@Url.Action("Agency", "Home")/?Id=" + myObj[i].AgencyId + "\" class=\"lead\" itemprop=\"name\">" + myObj[i].FriendlyName + "</a>";
                    textToDisplay = textToDisplay + "<div class=\"row\">";
                    textToDisplay = textToDisplay + "<div class=\"col-md-7\">";
                    textToDisplay = textToDisplay + "<p itemprop=\"description\">" + holderDescription + "</p>";
                    textToDisplay = textToDisplay + "<div class=\"collapse collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\">";
                    textToDisplay = textToDisplay + "<p class=\"other\">";
                    if (myObj[i].ContactPhone) {
                        textToDisplay = textToDisplay + constantGeneralInformation + ": <span itemprop=\"telephone\">" + myObj[i].ContactPhone + "</span><br>";
                    }
                    if (myObj[i].HearingImpairedPhone) {
                        textToDisplay = textToDisplay + constantHearingImpaired + ": <span itemprop=\"telephone\">" + myObj[i].HearingImpairedPhone + "</span><br>";
                    }
                    if (myObj[i].FaxNumber) {
                        textToDisplay = textToDisplay + constantFax + ": <span itemprop=\"faxNumber\">" + myObj[i].FaxNumber + "</span><br>";
                    }
                    textToDisplay = textToDisplay + "</p>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "<div class=\"col-md-5\">";
                    textToDisplay = textToDisplay + "<a href=\"@Url.Action("Agency", "Home")/?Id=" + myObj[i].AgencyId + "\" class=\"btn btn-secondary btn-block btn-sm\">" + constantAgencyDetails  + "</a>";
                    textToDisplay = textToDisplay + "<div class=\"collapse collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\">";
                    textToDisplay = textToDisplay + "<a href=\"" + myObj[i].ContactURL + "\" class=\"btn btn-secondary btn-block btn-sm\">" + constantContactAgency  + "</a>";
                    //					textToDisplay = textToDisplay + "<a href=\"\" class=\"btn btn-secondary btn-block btn-sm\">Show on Map</a>";
                    //					textToDisplay = textToDisplay + "<a href=\"\" class=\"btn btn-secondary btn-block btn-sm\">Live Chat</a>";
                    textToDisplay = textToDisplay + "<ul class=\"list-inline list-unstyled details-page-social-icons\">";
                    if (myObj[i].TwitterAccount) {
                        var thisitem1 = myObj[i].TwitterAccount;
                        thisitem1 = thisitem1.replace("https://", "");
                        thisitem1 = thisitem1.replace("http://", "");
                        thisitem1 = thisitem1.replace("www.twitter.com/", "");
                        textToDisplay = textToDisplay + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
                        textToDisplay = textToDisplay + "<a target=\"_blank\" href=\"https://twitter.com/" + thisitem1 + "\"><span class=\"ca-gov-icon-twitter\" aria-hidden=\"true\"><span class=\"sr-only\">Twitter</span></span></a>";
                        textToDisplay = textToDisplay + "</li>";
                    }
                    if (myObj[i].Facebook) {
                        var thisitem2 = myObj[i].Facebook;
                        thisitem2 = thisitem2.replace("https://", "");
                        thisitem2 = thisitem2.replace("http://", "");
                        thisitem2 = thisitem2.replace("www.facebook.com/", "");
                        textToDisplay = textToDisplay + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
                        textToDisplay = textToDisplay + "<a target=\"_blank\" href=\"https://www.facebook.com/" + thisitem2 + "\"><span class=\"ca-gov-icon-facebook\" aria-hidden=\"true\"><span class=\"sr-only\">Facebook</span></span></a>";
                        textToDisplay = textToDisplay + "</li>";
                    }
                    if (myObj[i].YouTube) {
                        var thisitem3 = myObj[i].YouTube;
                        thisitem3 = thisitem3.replace("https://", "");
                        thisitem3 = thisitem3.replace("http://", "");
                        thisitem3 = thisitem3.replace("www.youtube.com/", "");
                        textToDisplay = textToDisplay + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
                        textToDisplay = textToDisplay + "<a target=\"_blank\" href=\"https://www.youtube.com/" + thisitem3 + "\"><span class=\"ca-gov-icon-youtube\" aria-hidden=\"true\"><span class=\"sr-only\">YouTube</span></span></a>";
                        textToDisplay = textToDisplay + "</li>";
                    }
                    if (myObj[i].ContactEmail) {
                        textToDisplay = textToDisplay + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
                        textToDisplay = textToDisplay + "<a href=\"mailto:" + myObj[i].ContactEmail + "\"><span class=\"ca-gov-icon-share-email\" aria-hidden=\"true\"><span class=\"sr-only\">Email</span></span></a>";
                        textToDisplay = textToDisplay + "</li>";
                    }
                    textToDisplay = textToDisplay + "</ul>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "<div class=\"text-center m-b\">";
                    textToDisplay = textToDisplay + "<a style=\"padding: 10px 5px 5px 5px;text-decoration: none;\" href=\"javascript:toggleCollapseSwapper('toggle-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "');\"  role=\"button\" data-toggle=\"collapse\" data-parent=\"#collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\" aria-expanded=\"false\" aria-controls=\"collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\" data-target=\".collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\">";
                    textToDisplay = textToDisplay + "<span id=\"toggle-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\" style=\"color: #666666; font-size: 24px;\" class=\"ca-gov-icon-plus-fill\"></span><span class=\"sr-only\">Open</span></a> ";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                }
                else {
                       if (i & 1) {
                    holderDescription = myObj[i].Description;
                    holderDescription = holderDescription.slice(0, 95) + "...";

                    textToDisplayOdd = textToDisplayOdd + "<div class=\"card card-default\">";
                    textToDisplayOdd = textToDisplayOdd + "<div class=\"card-block\" id=\"collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\" itemscope itemtype=\"http://schema.org/Organization\">";
                    textToDisplayOdd = textToDisplayOdd + "<div class=\"row\">";
                    textToDisplayOdd = textToDisplayOdd + "<div class=\"col-md-3 col-xs-4\">";
                    textToDisplayOdd = textToDisplayOdd + "<img class=\"img-responsive\" src=\"" + imageUrlPrefix + "/";
                    if (myObj[i].LogoUrl) {
                        textToDisplayOdd = textToDisplayOdd + myObj[i].LogoUrl;
                    }
                    else {
                        textToDisplayOdd = textToDisplayOdd + "logo-CAGeneral.png"
                    }
                    textToDisplayOdd = textToDisplayOdd + "\" alt=\"Logo for " + myObj[i].FriendlyName + "\">";
                    textToDisplayOdd = textToDisplayOdd + "</div>";
                    textToDisplayOdd = textToDisplayOdd + "<div class=\"col-md-9 col-xs-8\">";
                    textToDisplayOdd = textToDisplayOdd + "<a href=\"@Url.Action("Agency", "Home")/?Id=" + myObj[i].AgencyId + "\" class=\"lead\" itemprop=\"name\">" + myObj[i].FriendlyName + "</a>";
                    textToDisplayOdd = textToDisplayOdd + "<div class=\"row\">";
                    textToDisplayOdd = textToDisplayOdd + "<div class=\"col-md-8\">";
                    textToDisplayOdd = textToDisplayOdd + "<p itemprop=\"description\">" + holderDescription + "</p>";
                    textToDisplayOdd = textToDisplayOdd + "<div class=\"collapse collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\">";
                    if (myObj[i].ContactPhone) {
                        textToDisplayOdd = textToDisplayOdd + constantGeneralInformation + ": <span itemprop=\"telephone\">" + myObj[i].ContactPhone + "</span><br>";
                    }
                    if (myObj[i].HearingImpairedPhone) {
                        textToDisplayOdd = textToDisplayOdd + constantHearingImpaired + ": <span itemprop=\"telephone\">" + myObj[i].HearingImpairedPhone + "</span><br>";
                    }
                    if (myObj[i].FaxNumber) {
                        textToDisplayOdd = textToDisplayOdd + constantFax + ": <span itemprop=\"faxNumber\">" + myObj[i].FaxNumber + "</span><br>";
                    }
                    textToDisplayOdd = textToDisplayOdd + "</p>";
                    textToDisplayOdd = textToDisplayOdd + "</div>";
                    textToDisplayOdd = textToDisplayOdd + "</div>";
                    textToDisplayOdd = textToDisplayOdd + "<div class=\"col-md-4\">";
                    textToDisplayOdd = textToDisplayOdd + "<a href=\"@Url.Action("Agency", "Home")/?Id=" + myObj[i].AgencyId + "\" class=\"btn btn-secondary btn-block btn-sm\">" + constantAgencyDetails  + "</a>";
                    textToDisplayOdd = textToDisplayOdd + "<div class=\"collapse collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\">";
                    textToDisplayOdd = textToDisplayOdd + "<a href=\"" + myObj[i].ContactURL + "\" class=\"btn btn-secondary btn-block btn-sm\">" + constantContactAgency  + "</a>";
                    //					textToDisplayOdd = textToDisplayOdd + "<a href=\"\" class=\"btn btn-secondary btn-block btn-sm\">Show on Map</a>";
                    //					textToDisplayOdd = textToDisplayOdd + "<a href=\"\" class=\"btn btn-secondary btn-block btn-sm\">Live Chat</a>";
                    textToDisplayOdd = textToDisplayOdd + "<ul class=\"list-inline list-unstyled details-page-social-icons\">";
                    if (myObj[i].TwitterAccount) {
                        var thisitem1 = myObj[i].TwitterAccount;
                        thisitem1 = thisitem1.replace("https://", "");
                        thisitem1 = thisitem1.replace("http://", "");
                        thisitem1 = thisitem1.replace("www.twitter.com/", "");
                        textToDisplayOdd = textToDisplayOdd + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
                        textToDisplayOdd = textToDisplayOdd + "<a target=\"_blank\" href=\"https://twitter.com/" + thisitem1 + "\"><span class=\"ca-gov-icon-twitter\" aria-hidden=\"true\"><span class=\"sr-only\">Twitter</span></span></a>";
                        textToDisplayOdd = textToDisplayOdd + "</li>";
                    }
                    if (myObj[i].Facebook) {
                        var thisitem2 = myObj[i].Facebook;
                        thisitem2 = thisitem2.replace("https://", "");
                        thisitem2 = thisitem2.replace("http://", "");
                        thisitem2 = thisitem2.replace("www.facebook.com/", "");
                        textToDisplayOdd = textToDisplayOdd + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
                        textToDisplayOdd = textToDisplayOdd + "<a target=\"_blank\" href=\"https://www.facebook.com/" + thisitem2 + "\"><span class=\"ca-gov-icon-facebook\" aria-hidden=\"true\"><span class=\"sr-only\">Facebook</span></span></a>";
                        textToDisplayOdd = textToDisplayOdd + "</li>";
                    }
                    if (myObj[i].YouTube) {
                        var thisitem3 = myObj[i].YouTube;
                        thisitem3 = thisitem3.replace("https://", "");
                        thisitem3 = thisitem3.replace("http://", "");
                        thisitem3 = thisitem3.replace("www.youtube.com/", "");
                        textToDisplayOdd = textToDisplayOdd + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
                        textToDisplayOdd = textToDisplayOdd + "<a target=\"_blank\" href=\"https://www.youtube.com/" + thisitem3 + "\"><span class=\"ca-gov-icon-youtube\" aria-hidden=\"true\"><span class=\"sr-only\">YouTube</span></span></a>";
                        textToDisplayOdd = textToDisplayOdd + "</li>";
                    }
                    if (myObj[i].ContactEmail) {
                        textToDisplayOdd = textToDisplayOdd + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
                        textToDisplayOdd = textToDisplayOdd + "<a href=\"mailto:" + myObj[i].ContactEmail + "\"><span class=\"ca-gov-icon-share-email\" aria-hidden=\"true\"><span class=\"sr-only\">Email</span></span></a>";
                        textToDisplayOdd = textToDisplayOdd + "</li>";
                    }
                    textToDisplayOdd = textToDisplayOdd + "</ul>";
                    textToDisplayOdd = textToDisplayOdd + "</div>";
                    textToDisplayOdd = textToDisplayOdd + "</div>";
                    textToDisplayOdd = textToDisplayOdd + "</div>";
                    textToDisplayOdd = textToDisplayOdd + "</div>";
                    textToDisplayOdd = textToDisplayOdd + "</div>";
                    textToDisplayOdd = textToDisplayOdd + "</div>";
                    textToDisplayOdd = textToDisplayOdd + "<div class=\"text-center m-b\">";
                    textToDisplayOdd = textToDisplayOdd + "<a style=\"padding: 10px 5px 5px 5px;text-decoration: none;\" href=\"javascript:toggleCollapseSwapper('toggle-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "');\"  role=\"button\" data-toggle=\"collapse\" data-parent=\"#collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\" aria-expanded=\"false\" aria-controls=\"collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\" data-target=\".collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\">";
                    textToDisplayOdd = textToDisplayOdd + "<span id=\"toggle-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\" style=\"color: #666666; font-size: 24px;\" class=\"ca-gov-icon-plus-fill\"></span><span class=\"sr-only\">Open</span></a> ";
                    textToDisplayOdd = textToDisplayOdd + "</div>";
                    textToDisplayOdd = textToDisplayOdd + "</div>";
                }
                else {
                    holderDescription = myObj[i].Description;
                    holderDescription = holderDescription.slice(0, 95) + "...";

                    textToDisplay = textToDisplay + "<div class=\"card card-default\">";
                    textToDisplay = textToDisplay + "<div class=\"card-block\" id=\"collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\" itemscope itemtype=\"http://schema.org/Organization\">";
                    textToDisplay = textToDisplay + "<div class=\"row\">";
                    textToDisplay = textToDisplay + "<div class=\"col-md-3 col-xs-4\">";
                    textToDisplay = textToDisplay + "<img class=\"img-responsive\" src=\"" + imageUrlPrefix + "/";
                    if (myObj[i].LogoUrl) {
                        textToDisplay = textToDisplay + myObj[i].LogoUrl;
                    }
                    else {
                        textToDisplay = textToDisplay + "logo-CAGeneral.png"
                    }
                    textToDisplay = textToDisplay + "\" alt=\"Logo for " + myObj[i].FriendlyName + "\">";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "<div class=\"col-md-9 col-xs-8\">";
                    textToDisplay = textToDisplay + "<a href=\"@Url.Action("Agency", "Home")/?Id=" + myObj[i].AgencyId + "\" class=\"lead\" itemprop=\"name\">" + myObj[i].FriendlyName + "</a>";
                    textToDisplay = textToDisplay + "<div class=\"row\">";
                    textToDisplay = textToDisplay + "<div class=\"col-md-8\">";
                    textToDisplay = textToDisplay + "<p itemprop=\"description\">" + holderDescription + "</p>";
                    textToDisplay = textToDisplay + "<div class=\"collapse collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\">";
                    textToDisplay = textToDisplay + "<p class=\"other\">";
                    if (myObj[i].ContactPhone) {
                        textToDisplay = textToDisplay + constantGeneralInformation + ": <span itemprop=\"telephone\">" + myObj[i].ContactPhone + "</span><br>";
                    }
                    if (myObj[i].HearingImpairedPhone) {
                        textToDisplay = textToDisplay + constantHearingImpaired + ": <span itemprop=\"telephone\">" + myObj[i].HearingImpairedPhone + "</span><br>";
                    }
                    if (myObj[i].FaxNumber) {
                        textToDisplay = textToDisplay + constantFax + ": <span itemprop=\"faxNumber\">" + myObj[i].FaxNumber + "</span><br>";
                    }
                    textToDisplay = textToDisplay + "</p>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "<div class=\"col-md-4\">";
                    textToDisplay = textToDisplay + "<a href=\"@Url.Action("Agency", "Home")/?Id=" + myObj[i].AgencyId + "\" class=\"btn btn-secondary btn-block btn-sm\">" + constantAgencyDetails  + "</a>";
                    textToDisplay = textToDisplay + "<div class=\"collapse collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\">";
                    textToDisplay = textToDisplay + "<a href=\"" + myObj[i].ContactURL + "\" class=\"btn btn-secondary btn-block btn-sm\">" + constantContactAgency  + "</a>";
                    //					textToDisplay = textToDisplay + "<a href=\"\" class=\"btn btn-secondary btn-block btn-sm\">Show on Map</a>";
                    //					textToDisplay = textToDisplay + "<a href=\"\" class=\"btn btn-secondary btn-block btn-sm\">Live Chat</a>";
                    textToDisplay = textToDisplay + "<ul class=\"list-inline list-unstyled details-page-social-icons\">";
                    if (myObj[i].TwitterAccount) {
                        var thisitem1 = myObj[i].TwitterAccount;
                        thisitem1 = thisitem1.replace("https://", "");
                        thisitem1 = thisitem1.replace("http://", "");
                        thisitem1 = thisitem1.replace("www.twitter.com/", "");
                        textToDisplay = textToDisplay + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
                        textToDisplay = textToDisplay + "<a target=\"_blank\" href=\"https://twitter.com/" + thisitem1 + "\"><span class=\"ca-gov-icon-twitter\" aria-hidden=\"true\"><span class=\"sr-only\">Twitter</span></span></a>";
                        textToDisplay = textToDisplay + "</li>";
                    }
                    if (myObj[i].Facebook) {
                        var thisitem2 = myObj[i].Facebook;
                        thisitem2 = thisitem2.replace("https://", "");
                        thisitem2 = thisitem2.replace("http://", "");
                        thisitem2 = thisitem2.replace("www.facebook.com/", "");
                        textToDisplay = textToDisplay + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
                        textToDisplay = textToDisplay + "<a target=\"_blank\" href=\"https://www.facebook.com/" + thisitem2 + "\"><span class=\"ca-gov-icon-facebook\" aria-hidden=\"true\"><span class=\"sr-only\">Facebook</span></span></a>";
                        textToDisplay = textToDisplay + "</li>";
                    }
                    if (myObj[i].YouTube) {
                        var thisitem3 = myObj[i].YouTube;
                        thisitem3 = thisitem3.replace("https://", "");
                        thisitem3 = thisitem3.replace("http://", "");
                        thisitem3 = thisitem3.replace("www.youtube.com/", "");
                        textToDisplay = textToDisplay + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
                        textToDisplay = textToDisplay + "<a target=\"_blank\" href=\"https://www.youtube.com/" + thisitem3 + "\"><span class=\"ca-gov-icon-youtube\" aria-hidden=\"true\"><span class=\"sr-only\">YouTube</span></span></a>";
                        textToDisplay = textToDisplay + "</li>";
                    }
                    if (myObj[i].ContactEmail) {
                        textToDisplay = textToDisplay + "<li style=\"margin-right:8px;margin-left: 8px;margin-top: 10px;\">";
                        textToDisplay = textToDisplay + "<a href=\"mailto:" + myObj[i].ContactEmail + "\"><span class=\"ca-gov-icon-share-email\" aria-hidden=\"true\"><span class=\"sr-only\">Email</span></span></a>";
                        textToDisplay = textToDisplay + "</li>";
                    }
                    textToDisplay = textToDisplay + "</ul>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "<div class=\"text-center m-b\">";
                    textToDisplay = textToDisplay + "<a style=\"padding: 10px 5px 5px 5px;text-decoration: none;\" href=\"javascript:toggleCollapseSwapper('toggle-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "');\"  role=\"button\" data-toggle=\"collapse\" data-parent=\"#collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\" aria-expanded=\"false\" aria-controls=\"collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\" data-target=\".collapse-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\">";
                    textToDisplay = textToDisplay + "<span id=\"toggle-" + myObj[i].AgencyId + "-" + myObj[i].Acronym + "\" style=\"color: #666666; font-size: 24px;\" class=\"ca-gov-icon-plus-fill\"></span><span class=\"sr-only\">Open</span></a> ";
                    textToDisplay = textToDisplay + "</div>";
                    textToDisplay = textToDisplay + "</div>";

                }
                }
            }

            var displayText = "";

            if (constantShowFullCard == "true") {
                displayText = displayText + "<div class=\"row\">";
                displayText = displayText + "<div class=\"full\">";
                displayText = displayText + textToDisplay;
                displayText = displayText + "</div>";
                displayText = displayText + "</div>";
            }
            else {
                displayText = displayText + "<div class=\"row\">";
                displayText = displayText + "<div class=\"half\">";
                displayText = displayText + "<p id=\"agencyLeft\">";
                displayText = displayText + textToDisplay;
                displayText = displayText + "</p>";
                displayText = displayText + "</div>";
                displayText = displayText + "<div class=\"half\">";
                displayText = displayText + "<p id=\"agencyRight\">";
                displayText = displayText + textToDisplayOdd;
                displayText = displayText + "</p>";
                displayText = displayText + "</div>";
                displayText = displayText + "</div>";
            }

            document.getElementById("agencyFilteredListingText").innerHTML = displayText;
        }
    };
    xmlhttp.open("GET", constantAPILocation + "?PrimaryFilter=Immigration&SecondaryFilter=" + servicesSubset + "&AgencyOrService=a&lang=" + constantEntityProfileLangCode, true);
    xmlhttp.send();

</script>