@{
    ViewBag.BrowserTitle = Immigration_Website.Content.Texts.ContentHome.ContentHome.browserTitle;
}
<script type="text/javascript">
    var defaultActiveLink = "Home";
</script>


<!-- Begin Main Content -->
<style>
      
    .explore-invite {
        background-color: #0d1013;
        opacity: 1;
    }

</style>
<div id="homeBackground" class="section section-default " style="background-image: url(/content/images/background_1.jpg); background-repeat: no-repeat; background-size: cover; background-position-x: center; margin-top: -25px;">
    <div class="home "></div>
    <div class="container" style="min-height: 800px;">

        <!-- columns and or content here -->


        <div class="group featured-blurbs">
            <script>
                var textArray = [
                    "Bienvenido a California", "欢迎来到加利福尼亚", "chào mừng bạn đến California", "ស្វាគមន៍ទៅកាលីហ្វញ៉ា",
                    "maligayang pagdating sa California", "캘리포니아에 오신 것을 환영합니다.", "به کالیفرنیا خوش آمدید",
                    "مرحبا بكم في كاليفورنيا", "欢迎来到加利福尼亚", "Добро пожаловать в California",
                    "Բարի գալուստ California"
                ];
                var index = 0;
                setInterval(function () {
                    $("#welcome").animate({
                        opacity: 0
                    },
                        function () {
                            if (textArray.length > index) {
                                $(this).text(textArray[index]).animate({ opacity: 1 })
                                index++;
                            } else {
                                index = 0;
                                $(this).text("Welcome to California").animate({ opacity: 1 });
                            }
                        });

                },
                    4000);


            </script>


            <div>@Html.Raw(Immigration_Website.Content.Texts.ContentHome.ContentHome.greenBox_WelcomeToCalifornia)</div>

            <div class="row">

                <div class="quarter">


                    <a href="@Url.Action("Index", "PublicBenefits")" class="text-center hover ">
                        <span class="ca-gov-icon-read-book home-blurb" aria-hidden="true"></span>

                        <div class="home-blurb-text hover">@*Immigration_Website.Content.Texts.ContentHome.ContentHome.greenBox_LearnEnglish *@ @Immigration_Website.Content.Texts.ContentHome.ContentHome.greenBox_PublicBenefits</div>

                    </a>


                </div>


                <div class="quarter">


                    <a href="@Url.Action("Index", "FindJobsAndTraining")" class="text-center hover">
                        <span class="ca-gov-icon-idea home-blurb" aria-hidden="true"></span>

                        <div class="home-blurb-text hover">@Immigration_Website.Content.Texts.ContentHome.ContentHome.greenBox_JobsAndEntrepreneurship</div>

                    </a>


                </div>


                <div class="quarter">


                    <a href="@Url.Action("Index", "Education")" class="text-center  hover">
                        <span class="ca-gov-icon-graduate home-blurb" aria-hidden="true"></span>

                        <div class="home-blurb-text  hover">@Immigration_Website.Content.Texts.ContentHome.ContentHome.greenBox_Education</div>

                    </a>


                </div>


                <div class="quarter">


                    <a href="@Url.Action("Index", "LegalHelpAndCitizenship")" class="text-center hover">
                        <span class="ca-gov-icon-capitol home-blurb" aria-hidden="true"></span>

                        <div class="home-blurb-text hover">@Immigration_Website.Content.Texts.ContentHome.ContentHome.greenBox_ImmigrationServicesAndCitizenship</div>

                    </a>


                </div>


            </div>

            <div class="row" style="margin-top: 1rem">
                <div class="action-links" style="color: #ffffff; margin-bottom: 0px; text-align:center; font-size: 1.4em;">
                    <a id="know-your-rights" href="@Url.Action("YourRights", "Home")">KNOW YOUR RIGHTS</a>
                    | <a id="covid19" href="@Url.Action("","COVID19")">COVID-19</a>
                    | <a id="pcharge" href="@Url.Action("","PublicCharge")">PUBLIC CHARGE</a>
                    | <a id="dacalink" href="@Url.Action("","DACA")">DACA UPDATES</a>
                    | <a id="dlink" href="@Url.Action("","DisasterRelief")">DISASTER RELIEF</a>
                </div>
            </div>
            <style>
                .action-links a {
                    color: #ffffff;
                    text-decoration: underline;
                }

                .action-links a:hover {
                    color: #FDB81E;
                }
            </style>
        </div>
    </div>
    <div class="explore explore-invite">
        <div class="text-center">
            <nav class="nav">
                <a href="#featured">
                    <span class="explore-title" id="link1">@Immigration_Website.Content.Texts.ContentHome.ContentHome.blackBar_MoreInformation</span><br/>
                    <div id="featured"></div>
                    <span class="ca-gov-icon-caret-line-down" style="font-size: 2em;" aria-hidden="true"></span>
                </a>
            </nav>
        </div>
    </div>
</div>


@Html.Partial("~/Views/Shared/ImmigrantGuide/_FeaturedHome.cshtml")


<div class="section section-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="text-center">@Immigration_Website.Content.Texts.ContentHome.ContentHome.welcome_Title</h2>
                <p class="text-center">@Immigration_Website.Content.Texts.ContentHome.ContentHome.welcome_Text</p>
                <!--<div class="text-center"><a href="" class="btn btn-primary">Learn More</a></div> -->
            </div>
        </div>
    </div>
</div>
<div class="section section-inverted">
    <div class="container">
        <div class="row">
            <!-- Counter Module -->
            <div class="col-md-3 col-sm-6 ">
                <div class="stat-counter text-accent9">
                    <span class="number-counter">@Immigration_Website.Content.Texts.ContentHome.ContentHome.counter_1_Number</span> @Html.Raw(Immigration_Website.Content.Texts.ContentHome.ContentHome.counter_1_Unit)
                </div>
                <p class="text-center">@Immigration_Website.Content.Texts.ContentHome.ContentHome.counter_1_Text</p>
            </div>

            <!-- Counter Module -->
            <div class="col-md-3 col-sm-6 ">
                <div class="stat-counter text-accent4">
                    <span class="number-counter">@Immigration_Website.Content.Texts.ContentHome.ContentHome.counter_2_Number</span> @Html.Raw(Immigration_Website.Content.Texts.ContentHome.ContentHome.counter_2_Unit)
                </div>
                <p class="text-center">@Immigration_Website.Content.Texts.ContentHome.ContentHome.counter_2_Text</p>
            </div>

            <!-- Counter Module -->
            <div class="col-md-3 col-sm-6">
                <div class="stat-counter text-accent2">
                    <span class="number-counter">@Immigration_Website.Content.Texts.ContentHome.ContentHome.counter_3_Number</span> @Html.Raw(Immigration_Website.Content.Texts.ContentHome.ContentHome.counter_3_Unit)
                </div>
                <p class="text-center">@Immigration_Website.Content.Texts.ContentHome.ContentHome.counter_3_Text</p>
            </div>

            <!-- Counter Module -->
            <div class="col-md-3 col-sm-6">
                <div class="stat-counter text-accent9">
                    <span class="number-counter">@Immigration_Website.Content.Texts.ContentHome.ContentHome.counter_4_Number</span> @Html.Raw(Immigration_Website.Content.Texts.ContentHome.ContentHome.counter_4_Unit)
                </div>
                <p class="text-center">@Immigration_Website.Content.Texts.ContentHome.ContentHome.counter_4_Text</p>
            </div>

        </div>
    </div>
</div>

<div class="section section-impact">
    <div class="container">
        <h2 class="text-center" style="font-weight: 300;">@Immigration_Website.Content.Texts.ContentHome.ContentHome.resources_Title</h2>
        <div class="row group">

            <div class="quarter">

                <ul class="list-unstyled">

                    <li style="text-align: center;">
                        <div style="width: 50%; margin-left: auto; margin-right: auto;">
                            <span style="color: aliceblue;" class="ca-gov-icon-state text-accent1 biggest"></span>
                        </div>
                        <a href="https://oag.ca.gov/immigrant" target="_blank">@Html.Raw(@Immigration_Website.Content.Texts.ContentHome.ContentHome.resource_1_Text)</a>
                    </li>


                </ul>

            </div>

            <div class="quarter">

                <ul class="list-unstyled">
                    <li style="text-align: center;">
                        <div style="width: 50%; margin-left: auto; margin-right: auto;">
                            <span style="color: aliceblue;" class="ca-gov-icon-capitol text-accent1 biggest"></span>
                        </div>
                        <a href="http://www.courts.ca.gov/35558.htm" target="_blank">@Html.Raw(@Immigration_Website.Content.Texts.ContentHome.ContentHome.resource_2_Text)</a>
                    </li>


                </ul>

            </div>


            <div class="quarter">

                <ul class="list-unstyled">
                    <li style="text-align: center;">
                        <div style="width: 50%; margin-left: auto; margin-right: auto;">
                            <span style="color: aliceblue;" class="ca-gov-icon-people text-accent1 biggest"></span>
                        </div>
                        <a href="http://www.courts.ca.gov/35565.htm" target="_blank">@Html.Raw(Immigration_Website.Content.Texts.ContentHome.ContentHome.resource_3_Text)</a>
                    </li>


                </ul>

            </div>

            <div class="quarter">

                <ul class="list-unstyled">
                    <li style="text-align: center;">
                        <div style="width: 50%; margin-left: auto; margin-right: auto;">
                            <span style="color: aliceblue;" class="ca-gov-icon-info text-accent1 biggest"></span>
                        </div>
                        <a href="http://www.courts.ca.gov/35563.htm" target="_blank">@Html.Raw(Immigration_Website.Content.Texts.ContentHome.ContentHome.resource_4_Text)</a>
                    </li>

                </ul>

            </div>


        </div>
    </div>
</div>
    <div class="footer container" style="padding-top:5px; padding-left:45px; padding-bottom: 5px;"><span><img style="padding-right: 5px;" src="~/Content/images/ribbon.png" alt="Certificate Ribbon"/></span><a class="certificate collapsed" href="~/Content/SIMM-25B-GOV40-2025.pdf" target="_blank" rel="noopener noreferrer" style="text-decoration: underline;">Website Accessibility Certification</a></div>